@media (min-width: 767px) {
  #supportCardsGroup {
    transform: translateY(-50%);
  }
}
.supportCard {
  background-color: #f5f5f5;
  padding: 20px 0;
  border: 1px solid #ddd;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.supportCard h4 {
  margin: 10px 0 0px 0;
  font-weight: normal;
  font-size: 24px;
  color: #444;
}
.supportCard a {
  color: #999;
  font-size: 14px;
  position: relative;
}
.supportCard a span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
}
.supportCard a:hover span {
  margin-left: 8px;
}
