@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&display=swap");
:root {
  --primaryColor: #2d3e50;
  --secondaryColor: #fbaa33;
  --textColor: #666666;
  --mainFont: "Arimo", sans-serif;
  --aboutShape-top: url("../public/images/aboutShape.webp");
  --aboutShape-bottom: url("../public/images/aboutShape2.webp");
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h3,
h2,
h4,
h5,
h6,
ul,
ol,
span,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

body {
  font-family: var(--mainFont);
}

/* *SWIPER SLIDER GLOABL STYLES */
/* *pagination */
span.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #000;
}

span.swiper-pagination-bullet-active {
  background-color: var(--secondaryColor) !important;
  border-color: transparent;
}
